/* about-commissions.css -- Controlling the style of the about and commissions page 
 * These pages are nearly identical in their formatting, so it makes sense for them
 * to share a singular css page (in addition to the overall style.css format doc)
 * author: David Clark
 */

/* Image height should be this. */
img {
    height: 30rem;
}

/* Flex display, have a gap between figure and text. */
main {
    display:flex;
    gap: 2rem;
}

/* Form should be moved */
form {
    padding-top: 4rem;
    padding-left: 15rem;
}

/* Form labels should be arial and 14pt fonted */
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

/* When the screen shrinks to a specific size (intended for mobile) */
@media screen and (max-width: 1240px) {

    /* Picture is smaller */
    img {
        height: 25rem;
    }

    /* Page is now vertical */
    main {
        flex-direction: column;
    }

    /* No need for padding when screen is compresssed */
    form {
        padding: 0;
    }
}