/* index.css -- Controlling css for the index page
 * author: David Clark
 */

img {
    padding-top: 20px;
    width: 75%;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}


/* Mobile support */
@media screen and (max-width: 1240px) {
    /* Image is enlarged */
    img {
        width: 100%;
    }
    /* Page is now left-oriented instead of center oriented */
    span {
        justify-content: flex-start;
        align-items: flex-start;
    }
}