/* index.css -- Controlling css for the index page
 */

img {
    width: 75%;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Mobile support */
@media screen and (max-width: 1240px) {
    img {
        width: 100%;
    }
    span {
        justify-content: flex-start;
        align-items: flex-start;
    }

    h1 {
        font-size: 36pt;
    }
}