/* links.css -- Controls style for link page
 * author: David Clark
 */

/* No bulletins on list, 40pt size, and Arial font */
ul {
    list-style: none;
    font-size: 40pt;
    font-family: Arial, Helvetica, sans-serif;
}

/* List items rules (buttons on the link page):
 * Solid border
 * Margin on the bottom
 * Black color
 * aligned at the center (may change this)
 * border color is darker
 * background color is lighter
 */
li {
    border-style:solid;
    margin-bottom: 15vh;
    color:black;
    text-align: center;
    border-color: #fad564;
    background-color: #fbf7ea;
}


/* Main is a flex-box that centers content */
main {
    display:flex;
    justify-content: center;
}