/* style.css -- Controlling the style of all pages
 * Includes background colors, fonts for the page content, etc.
 * author: David Clark
 */

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44pt;
}

body {
  background-color: #FFF2CC;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18pt;
}

#nav_bar {
  margin: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;

}

/* Mobile support */
@media screen and (max-width: 1240px) {

  /* nav_bar is smaller and goes vertical instead of horizontal */
  #nav_bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 25vh;
    font-size: 16pt;
  }
}