/* style.css -- Controlling the style of the page
 * Includes background colors, fonts for the page content, etc.
 * author: David Clark
 */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44pt;
}

body {
    background-color: #FFF2CC;
}

#nav_bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    
}
